{% extends '@layouts/default.twig' %}

{% block vendor_styles %}
    {{ parent() }}
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block vendor_scripts %}
    {{ parent() }}
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block layout_content %}
    {% include '@blocks/title.twig' with {
        self: {
            mod: 'text',
            back: { url: parent.id, label: 'Вернуться в новости' },
            label: pageTitle,
            date: { label: '24 апреля 2021 года.', datetime: '2021-04-24' }
        }
    } %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, large',
            type: 'image',
            wrap: true,
            caption: '',
            media: {
                url: 'cafeteria/news/article/image-1.jpg',
                width: 929,
                height: 542
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <p>В первую неделю осени приглашаем на творческие мастер-классы, диафильмы и настольные игры.</p>
            <h2>2 сентября, четверг</h2>
            <p>11.00 - 12.00 – «Академия детского творчества» 5+<br>
                Мастер-класс по работе с бумагой в технике аппликации «Осенний лес».<br>
                Комната 240
            </p>
            <p>{{ helpers.link({ url: '#', label: 'Записаться на занятие' }) }}</p>
            <p><br></p>
            <p>12.00 - 12.30 – «Сказки на плёнке» 3+<br>
                Приглашаем детей и их родителей вместе смотреть тёплые, душевные диафильмы из коллекции нашей
                библиотеки. У нас вы можете встретиться с теми, кого давно не видели, пообщаться с новыми людьми и
                пригласить всех своих знакомых.<br>
                Комната 161</p>
            <p><br></p>
            <p>16.30 - 17.30 – Мастерская историй «Дырявый котел» 10+<br>
                Приглашаем ребят от 10 лет поиграть в настольные игры с сочинением историй и сказок. В каждом из нас,
                ребенке и взрослом, живет рассказчик – истории окружают нас, мы делимся ими ежедневно с друзьями и
                семьей, говорим им о том, что произошло за день, кого повстречали или о том, как прошли каникулы. На
                занятиях мы будем играть в настольные игры, в которых все участники сочиняют общую историю. Каждый игрок
                вносит свою лепту, опираясь на карточки с изображениями героев, волшебных предметов, помощников и
                препятствий, неожиданных сюжетных поворотов. На занятиях мы также будем иногда играть в командные игры
                на взаимодействие, словесные, а также развивающие воображение. Главное – с хорошим настроением и в
                хорошей компании!<br>
                Комната 161</p>
            <p>{{ helpers.link({ url: '#', label: 'Записаться на занятие' }) }}</p>

            <h2>3 сентября, пятница</h2>
            <p>12.00 - 12.30 – «Сказки на плёнке» 3+<br>
                Комната 161</p>
            <p>{{ helpers.link({ url: '#', label: 'Записаться на занятие' }) }}</p>
            <p><br></p>
            <p>15.00 - 17.00 – Клуб настольных игр «Джуманджи» 7+<br>
                Приглашаем всех желающих поиграть в настольные и подвижные командные игры, а также просто приятно
                пообщаться. К вашим услугам в нашей библиотеке игры современные и уже ставшие классикой, для большой
                компании или для двоих. Мы будем рады, если вы придёте к нам всей семьёй или компанией друзей. Вы можете
                принести свою любимую игру, если готовы объяснить правила и научить играть в неё других игроков.<br>
                Комната 305</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/figure.twig' with {
        self: {
            mod: 'image, medium',
            type: 'image',
            wrap: true,
            caption: '',
            media: {
                url: 'cafeteria/news/article/image-2.jpg',
                width: 715,
                height: 500
            }
        }
    } %}

    {% embed '@blocks/text.twig' with {
        self: {
            mod: 'default',
            wrap: true
        }
    } %}
        {% block text_body %}
            <h2>4 сентября, суббота</h2>
            <p>11.00 - 12.00 и 13.00 - 14.00 – «Академия детского творчества. Мастер-класс «Осеннее дерево» 7+.<br>
                Рисуем осеннее дерево графическими материалами: фломастеры, уголь, пастель.<br>
                Комната 314</p>
            <p>{{ helpers.link({ url: '#', label: 'Записаться на занятие' }) }}</p>

            <h2>5 сентября, воскресенье</h2>
            <p>11.30 - 12.30 – Литературно-творческая программа «День Байкала» 5+<br>
                Приглашаем познакомиться с богатой природой и историей самого глубокого, самого древнего и самого
                чистого озера в
                мире. Участников программы ожидает встреча с героями сказаний и легенд о Байкале, знакомство с играми и
                обычаями
                народов, живущих на берегах озера.<br>
                На мастер-классе ребята сделают байкальскую нерпу в технике оригами.<br>
                Бесплатно, без предварительной записи.<br>
                Комната 313</p>
            <p><br></p>
            <p>15.00 - 17.00 – Клуб настольных игр «Джуманджи» 7+<br>
                Комната 305</p>
        {% endblock text_body %}
    {% endembed %}

    {% include '@blocks/networks.twig' with {
        self: {
            mod: 'sharing',
            wrap: true,
            jsClassName: 'js-sharing',
            items: [
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'fb-white',
                    title: 'Поделиться в Facebook',
                    extra: { 'data-action': 'fb' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'vk-white',
                    title: 'Поделиться во Вконтакте',
                    extra: { 'data-action': 'vk' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'ok-white',
                    title: 'Поделиться в Одноклассники',
                    extra: { 'data-action': 'ok' }
                },
                {
                    mod: 'sharing',
                    jsClassName: 'js-sharing-button',
                    icon: 'cp-white',
                    title: 'Копировать ссылку на страницу',
                    extra: { 'data-action': 'cp' }
                }
            ]
        }
    } %}

    {% include '@blocks/similar.twig' with {
        self: {
            mod: 'news',
            label: 'Другие статьи',
            text: 'В этих статьях мы подобрали интересные факты о диафильмах для школьников. Материалы специально готовились с акцентом на людей жаждущих знаний, надеемся вам будет интересно.',
            carousel: {
                mod: 'news',
                jsClassName: 'js-carousel-horizontal',
                itemsTemplate: '@blocks/card.twig',
                items: [
                    {
                        size: 'large',
                        mod: 'news, marked',
                        label: 'Диафильмы Валерия Дмитрюка',
                        date: { label: '17 июня 2021 года.', datetime: '2021-06-17' },
                        text: '',
                        image: { url: 'cafeteria/news/article/card-1.jpg', width: 395, height: 390 },
                        link: { label: '', url: 'news-article' }
                    },
                    {
                        size: '',
                        mod: 'news',
                        label: 'Мурзилка. 1947 год. Юбилеи Москвы, Пушкина и революции.',
                        date: { label: '24 апреля 2021 года.', datetime: '2021-04-24' },
                        text: 'Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают редко.',
                        image: { url: 'cafeteria/news/article/card-2.jpg', width: 384, height: 288 },
                        link: { label: '', url: 'news-article' }
                    },
                    {
                        size: '',
                        mod: 'news',
                        label: 'Планеты гиганты',
                        date: { label: '26 мая 2021 года.', datetime: '2021-05-26' },
                        text: 'Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают редко.  Ни в 1959 году, когда Хрущев объявил о "полном',
                        image: { url: 'cafeteria/news/article/card-3.jpg', width: 384, height: 288 },
                        link: { label: '', url: 'news-article' }
                    },
                    {
                        size: '',
                        mod: 'news',
                        label: 'Мурзилка. 1947 год. Юбилеи Москвы, Пушкина и революции.',
                        date: { label: '24 апреля 2021 года.', datetime: '2021-04-24' },
                        text: 'Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают редко.',
                        image: { url: 'cafeteria/news/article/card-2.jpg', width: 384, height: 288 },
                        link: { label: '', url: 'news-article' }
                    },
                    {
                        size: '',
                        mod: 'news',
                        label: 'Планеты гиганты',
                        date: { label: '26 мая 2021 года.', datetime: '2021-05-26' },
                        text: 'Жизнь действительно стала иной, но все перечисленное никуда не делось. Ни в 1959 году, когда Хрущев объявил о "полном и окончательном построении социализма", ни сейчас, когда о социализме вспоминают редко.  Ни в 1959 году, когда Хрущев объявил о "полном',
                        image: { url: 'cafeteria/news/article/card-3.jpg', width: 384, height: 288 },
                        link: { label: '', url: 'news-article' }
                    }
                ]
            }
        }
    } %}

{% endblock layout_content %}

    {% block popups %}
        {{ parent() }}
    {% endblock popups %}
